{%extends 'base.html'%}
{%block content%}
<div class="header-bottom sticky-header">
	<div class="container">
		<div class="header-left">
			<div class="dropdown category-dropdown">
				<a href="#" class="dropdown-toggle" title="Checkout">
					404
				</a>
			</div><!-- End .category-dropdown -->
		</div><!-- End .header-left -->

		<div class="header-center">
			<nav class="main-nav">
				<ul class="menu sf-arrows">
					<li>
                        <a href="{{ url_for('food.index') }}">Home</a>
                    </li>
                    <li class="megamenu-container active">
                        <a href="{{ url_for('food.category') }}" >Menu</a>
                    </li>
                    <li>
                        <a href="{{ url_for('food.about') }}" >About</a>
                    </li>
                    <li>
                        <a href="{{ url_for('food.contact') }}" >Contact</a>
                    </li>
			</nav><!-- End .main-nav -->
		</div><!-- End .header-center -->

		<div class="header-right">
			<i class="la la-lightbulb-o"></i><p>Clearance<span class="highlight">&nbsp;Up to 30% Off</span></p>
		</div>
	</div><!-- End .container -->
</div><!-- End .header-bottom -->
</header><!-- End .header -->
        <main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ url_for('food.index') }}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">404</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

        	<div class="error-content text-center" style="background-image: url(assets/images/backgrounds/error-bg.jpg)">
            	<div class="container">
            		<h1 class="error-title">Error 404</h1><!-- End .error-title -->
            		<p>We are sorry, the page you've requested is not available.</p>
            		<a href="{{ url_for('food.index') }}" class="btn btn-outline-primary-2 btn-minwidth-lg">
            			<span>BACK TO HOMEPAGE</span>
            			<i class="icon-long-arrow-right"></i>
            		</a>
            	</div><!-- End .container -->
        	</div><!-- End .error-content text-center -->
        </main><!-- End .main -->
        {%endblock%}